@{
    ViewBag.Title = ViewBag.BoardName;
}

<div class="wrap">
    <div id="board-info">
        <h1>@ViewBag.BoardName</h1>
        <p>@ViewBag.BoardDescription</p>
    </div>
    <single-board category-url="@Url.Action("Categories", "Boards", new { id = ViewBag.BoardId })" board-id="@ViewBag.BoardId">
        <div id="board">
            <p class="message">
                <i class="fa fa-spinner fa-spin"></i> Loading tasks
            </p>
        </div>
    </single-board>
</div>
