@{
    ViewBag.Title = ViewBag.BoardName;
}

<div class="wrap">
    <div id="board-info">
        <h1>@ViewBag.BoardName</h1>
        <p>@ViewBag.BoardDescription</p>
    </div>
    <single-board category-url="@Url.Action("Categories", "Boards", new { id = ViewBag.BoardId })" board-id="@ViewBag.BoardId">
        <div id="board">
            <p class="message">
                <i class="fa fa-spinner fa-spin"></i> Loading tasks
            </p>
        </div>
    </single-board>
</div>

<div id="modal" style="display: none;">
    <div id="modal-content">
        <button id="modal-close" onclick="$('#modal').css('display', 'none');"><i class="fa fa-times"></i></button>
        <h2>Add a Task</h2>
        <label for="task-name-input">Name</label>
        <input type="text" value="" id="task-name-input" name="task-name-input" />
        <label for="task-description-textarea">Description</label>
        <textarea name="task-description-textarea" id="task-description-textarea"></textarea>
        <label for="task-category-select">Category</label>
        <select id="task-category-select" name="task-category-select">
            <option>UX Task</option>
            <option>Front-End Development Task</option>
            <option>Back-End Bug Fix</option>
            <option>Deployment Task</option>
        </select>
        <label for="phase-select">Phase</label>
        <select id="phase-select" name="phase-select">
            <option>Backlog</option>
            <option>In Progress</option>
            <option>Under Review</option>
            <option>Done</option>
        </select>
        <button>Save</button>
    </div>
</div>