<div id="modal-content">
    <form novalidate name="form">
        <button type="button" id="modal-close" ng-click="boardsModal.closeModal()"><i class="fa fa-times"></i></button>
        <h2>{{modalTitle}}</h2>
        <div class="form-message" ng-show="boardsModal.serverErrorMessage.length > 0">
            {{boardsModal.serverErrorMessage}}
        </div>
        <label for="board-name-input">Name</label>
        <input type="text" value="" id="board-name-input" name="boardNameInput" ng-model="boardsModal.name" ng-disabled="boardsModal.saving" required ng-maxlength="255" />
        <div class="form-message" ng-show="form.$submitted || form.boardNameInput.$touched">
            <div ng-show="form.boardNameInput.$error.required">Board name is required</div>
            <div ng-show="form.boardNameInput.$error.maxlength">Board name must be less than 256 characters</div>
        </div>
        <label for="board-description-textarea">Description</label>
        <textarea name="boardDescriptionTextarea" id="board-description-textarea" ng-model="boardsModal.description" ng-disabled="boardsModal.saving" ng-maxlength="2048"></textarea>
        <div class="form-message" ng-show="form.$submitted || form.boardDescriptionTextarea.$touched">
            <div ng-show="form.boardDescriptionTextarea.$error.maxlength">Board description must be less than 2048 characters</div>
        </div>
        <button type="submit" ng-click="form.$valid && boardsModal.saveClicked(boardsModal.name, boardsModal.description, boardsModal.id)" ng-disabled="boardsModal.saving"><span ng-bind-html="boardsModal.ctaText"></span></button>
    </form>
</div>
