<h2>My Boards</h2>
<button ng-click="boards."><i class="fa fa-plus"></i> New Board</button>
<ul ng-show="boards.items">
    <li ng-repeat="board in boards.items">
        <a href="/board">{{board.name}}</a>
        <span class="controls">
            <i class="fa fa-pencil-square-o "></i> <i class="fa fa-trash-o"></i>
        </span>
    </li>
</ul>
<p class="message" ng-hide="boards.haveLoaded">
    <em><i class="fa fa-spinner fa-spin"></i> Loading Boards</em>
</p>
<p class="message" ng-show="boards.items && boards.items.length == 0">
    <em>You don't have any boards yet.</em>
</p>
