<ul>
    <li ng-repeat="category in categoriesList.items" ng-class="'category category-' + category.colorCode">
        <a href="#" ng-click="categoriesList.updateCategory(category.id, category.name, category.colorCode)">{{category.name}}</a>
        <span class="controls" ng-if="categoriesList.items.length > 1">
            <i class="fa fa-trash-o" ng-click="categoriesList.deleteCategory(category.id, category.name)"></i>
        </span>
    </li>
</ul>
<p class="message" ng-hide="categoriesList.haveLoaded">
    <em><i class="fa fa-spinner fa-spin"></i> Loading Boards</em>
</p>
