<h2>
    {{phaseCtrl.item().phase.name}}
    <span class="controls">
        <i class="fa fa-pencil-square-o"
           ng-click="phaseCtrl.openPhaseUpdateModal(phaseCtrl.item().phase.id, phaseCtrl.item().phase.name)">
        </i>

        <i class="fa fa-trash-o"
           ng-click="phaseCtrl.deletePhase(phaseCtrl.item().phase.id, phaseCtrl.item().phase.name)">
        </i>
    </span>
</h2>
<div class="items" data-phase-id="{{phaseCtrl.item().phase.id}}">
    <div class="item category-{{phaseCtrl.getCategoryColor(task.categoryId)}}"
         data-task-id="{{task.id}}"
         data-task-name="{{task.name}}"
         data-task-description="{{task.description}}"
         data-category-id="{{task.categoryId}}"
         data-order="{{task.order}}"
         ng-repeat="task in phaseCtrl.item().tasks"
         ng-click="phaseCtrl.itemClicked($event)">
            {{task.name}}
    </div>
</div>