<div id="board-controls">
    <button onclick="$('#modal').css('display', 'flex');" class="new-item"><i class="fa fa-plus"></i> New Item</button>
    <a href="{{boardCtrl.categoryUrl}}" class="cta-button categories">Categories</a>
</div>
<div id="board">
    <button class="add-phase" onclick="$('#modal').css('display', 'flex');"><i class="fa fa-plus"></i></button>
    <div phase class="phase" item="item" board-id="{{boardCtrl.boardId}}" ng-repeat="item in boardCtrl.boardData"></div>
    <p class="message" ng-hide="boardCtrl.hasLoaded">
        <i class="fa fa-spinner fa-spin"></i> Loading tasks
    </p>
</div>
