<div id="board-controls">
    <button ng-click="boardCtrl.newTaskClicked()" class="new-item"><i class="fa fa-plus"></i> New Task</button>
    <a href="{{boardCtrl.categoryUrl}}" class="cta-button categories">Categories</a>
</div>
<div id="board">
    <button class="add-phase" ng-click="boardCtrl.newPhaseClicked()"><i class="fa fa-plus"></i> New Phase</button>
    <div phase
         class="phase"
         item="item"
         board-id="{{boardCtrl.boardId}}"
         phase-count="{{boardCtrl.taskData.length}}"
         board-categories="boardCtrl.categories"
         ng-repeat="item in boardCtrl.taskData">
    </div>
    <p class="message" ng-hide="boardCtrl.hasLoaded">
        <i class="fa fa-spinner fa-spin"></i> Loading tasks
    </p>
</div>

<div task-modal
     task-modal-title="boardCtrl.taskModalTitle"
     task-modal-active="boardCtrl.taskModalActive"
     task-modal-method="boardCtrl.taskModalMethod"
     board-categories="boardCtrl.categories"
     default-phase-id="boardCtrl.defaultPhaseId"
     reset-board="boardCtrl.updateBoardData()"
     ng-class="['modal', {active: boardCtrl.taskModalActive}]"
     board-id="{{boardCtrl.boardId}}">
</div>

<div phase-modal
     phase-modal-title="boardCtrl.phaseModalTitle"
     phase-modal-active="boardCtrl.phaseModalActive"
     phase-modal-method="boardCtrl.phaseModalMethod"
     reset-board="boardCtrl.updateBoardData()"
     ng-class="['modal', {active: boardCtrl.phaseModalActive}]"
     board-id="{{boardCtrl.boardId}}">
</div>