// Main Site Colors

$color-abbey:         #535d62;
$color-alto:          #DEDEDE;
$color-black:         #000000;
$color-flamingo:      #F33F3F;
$color-fountain-blue: #639fbf;
$color-hippie-blue:   #598FAB;
$color-outer-space:   #2F3538;
$color-rolling-stone: #7A7C7E;
$color-seagull:       #77BFE5;
$color-shark:         #24282A;
$color-shuttle-gray:  #535D63;
$color-te-papa-green: #213540;
$color-white:         #FFFFFF;


// Task Category Colors

$color-category-1:    #00bff3;
$color-category-2:    #fffc7b;
$color-category-3:    #6be8a3;
$color-category-4:    #bd8cbf;
$color-category-5:    #9e0b0f;
$color-category-6:    #007236;
$color-category-7:    #3a3afa;
$color-category-8:    #a67c52;
