$color-alto:          #DEDEDE;
$color-black:         #000000;
$color-flamingo:      #F33F3F;
$color-fountain-blue: #639fbf;
$color-hippie-blue:   #598FAB;
$color-outer-space:   #2F3538;
$color-rolling-stone: #7A7C7E;
$color-seagull:       #77BFE5;
$color-shark:         #24282A;
$color-shuttle-gray:  #535D63;
$color-te-papa-green: #213540;
$color-white:         #FFFFFF;
