form {
    @include span-columns(3 of 8);
    margin: 0;
    padding: 0;
}

label,
#{$all-text-inputs},
textarea {
    display: block;
    width: 100%;
}

label {
    color: $color-seagull;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
}

#{$all-text-inputs},
textarea {
    background-color: $color-alto;
    border: none;
    color: $color-shark;
    font: 500 35px $font-poppins;
    line-height: 1;
    margin-bottom: 24px;
    padding: 0 10px;

    &[disabled] {
        background-color: lighten($color-rolling-stone, 10%);
    }

    .ng-submitted &.ng-invalid,
    &.ng-invalid.ng-touched {
        background-color: lighten($color-flamingo, 30%);
        border: 2px solid darken($color-flamingo, 30%);
    }
}

textarea {
    font-size: 15px;
    font-weight: 500;
    height: 189px;
    padding: 10px;
}

input + button,
select + button {
    margin-top: 38px;
}

select {
    background-color: $color-alto;
    display: block;
    font-size: 35px;
    font-weight: 500;
    font-family: $font-poppins;
    margin-bottom: 24px;
    width: 100%;
}

option {
    font-size: 26px;
}

.form-message {
    color: $color-flamingo;

    div {
        margin: -10px 0 20px 0;
    }
}

.field-validation-error {
    color: $color-flamingo;
    display: block;
    margin: -10px 0 20px 0;
}

.validation-summary-errors {
    ul {
        @include list-reset;
        color: $color-flamingo;
    }
}
