@import "colors";
@import "fonts";
@import "mixins";
@import "forms";

body {
    background-color:$color-shuttle-gray;
    color: $color-alto;
    font-family: $font-poppins;
    margin: 0;
    min-width: 1320px;
}

h1 {
    color: $color-seagull;
    font-size: 52px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 20px;
}

p {
    font-size: 27px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 45px;
}

a {
    color: $color-seagull;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    @include outer-container;

    padding: {
        left: 20px;
        right: 20px;
    }

    &.narrow {
        padding: {
            left: 128px;
            right: 128px;
        }
    }
}

.gencon {
    @include span-columns(8 of 10);
}

button,
.cta-button {
    background-color: $color-fountain-blue;
    border: none;
    color: $color-te-papa-green;
    cursor: pointer;
    display: block;
    font: 500 35px $font-poppins;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        background-color: $color-te-papa-green;
        color: $color-fountain-blue;
    }
}

#page-container {
    padding-bottom: 60px;
}

@include sticky-footer(70px, #page-container, #page-footer);
