@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
        margin: 0;
        padding: 0;
    }
}

@mixin list-reset-horiz {
    @include list-reset;
    & > li {
        display: inline-block;
    }
}

@mixin sticky-footer($footerHeight, $pageWrapSelector, $footerSelector) {
    body, html {
        height: 100%;
    }

    #{$pageWrapSelector} {
        min-height: 100%;
        margin-bottom: -$footerHeight;

        &:after {
            content: ' ';
            display: block;
        }
    }

    #{$footerSelector},
    #{$pageWrapSelector}:after {
        height: $footerHeight;
    }
}