.modal {
    @include position(fixed, 0px null null 0px);
    @include size(100%);
    background-color: rgba($color-shark, 0.83);
    display: none;
    justify-content: center;
    z-index: 100;

    &.active {
        display: flex;
    }
}

.modal-content {
    align-self: center;
    background-color: $color-abbey;
    padding: 40px 21px 50px 21px;
    position: relative;
    width: 512px;

    h2 {
        color: $color-seagull;
        font-size: 52px;
        font-weight: 500;
        margin: 0;
    }

    form {
        margin: 0;
        float: none;
        width: 100%;
    }

    button.delete {
        background-color: $color-flamingo;
        color: $color-white;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 20px;
        width: auto;

        &:hover {
            background-color: darken($color-flamingo, 20%);
            color: $color-alto;
        }
    }
}

button.modal-close {
    @include position(absolute, 10px 18px null null);
    background-color: transparent;
    color: $color-alto;
    display: inline-block;
    opacity: 0.33;
    width: auto;

    &:hover {
        background-color: inherit;
        color: inherit;
        opacity: 1;
    }
}
