<div id="page-footer">
    <div class="wrap">
        <p>&copy; @DateTime.Now.Year Andrew Iafrate. Learn more about me on my <a href="http://portfolio.aiafrate.com">portfolio site</a>.</p>
    </div>
</div>