<div id="page-header">
    <div class="wrap">
        <a href="/" id="header-logo"><img src="~/images/header-logo.png" alt="Boards" /></a>
        <a href="/" id="header-home-link">Boards</a>
        <ul id="main-nav">
            <li><a href="#">My Boards</a></li>
            <li>
                <span id="menu-trigger" data-action="menu-trigger">My Account <i class="fa fa-caret-down"></i></span>
                <ul id="sub-nav">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>