@{ 
    ViewBag.Title = "About";
}

<h1>About Boards</h1>

<p>Erat dolor sed sea qui eum tempor ipsum luptatum vero gubergren vero hendrerit sit lorem congue magna dolor consetetur est diam eros et kasd ipsum in sanctus sed magna et sadipscing consetetur labore id nonumy diam nobis vero et gubergren diam sed te quis sed justo tincidunt sed ut possim lorem takimata nonumy sea amet magna tempor dolor diam diam in voluptua dolores eos illum et invidunt lorem takimata et dolor diam dignissim dolores rebum eirmod dolore et at amet duo dolore feugait laoreet nulla aliquip lorem stet et consequat diam sanctus amet sanctus justo delenit accumsan sit consetetur sed</p>
<p>Gubergren facilisis amet dolore mazim augue molestie in consetetur clita esse dolor dignissim labore no sadipscing aliquip no soluta ea iriure et lorem nonumy dolore sed amet duis lorem labore feugait lobortis facilisis et clita tation amet autem labore duo duo rebum assum eirmod ipsum</p>