@{
    ViewBag.Title = "About";
}

<div class="wrap narrow">
    <div class="gencon">
        <h1>About Boards</h1>
        <p>Boards is a simple <a href="https://en.wikipedia.org/wiki/Kanban_(development)" target="_blank">kanban</a> app. It allows you to easily visualize what phase of a project tasks are in at any given time.</p>
        <p>I built Boards as a hobby project to gain some experience developing in Microsoft .NET MVC and Angular JS. You can learn more about me and other projects I've worked on at my <a href="http://portfolio.aiafrate.com/">portfolio website</a>.</p>
    </div>
</div>
