@{
    ViewBag.Title = "Pockets's Boards";
}

<div class="wrap narrow">
    <div class="gencon">
        <h1>Hello, Pockets</h1>
        <div id="list-pane">
            <h2>My Boards</h2>
            <button><i class="fa fa-plus"></i> New Board</button>
            <ul>
                <li>
                    <a href="#">Reporting System</a>
                    <span class="controls">
                        <i class="fa fa-pencil-square-o "></i> <i class="fa fa-trash-o"></i>
                    </span>
                </li>
                <li>
                    <a href="#">Company Intranet</a>
                    <span class="controls">
                        <i class="fa fa-pencil-square-o "></i> <i class="fa fa-trash-o"></i>
                    </span>
                </li>
                <li>
                    <a href="#">Marketing Microsite</a>
                    <span class="controls">
                        <i class="fa fa-pencil-square-o "></i> <i class="fa fa-trash-o"></i>
                    </span>
                </li>
                <li>
                    <a href="#">Warehouse Logistics App</a>
                    <span class="controls">
                        <i class="fa fa-pencil-square-o "></i> <i class="fa fa-trash-o"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

