@model IEnumerable<Boards.Models.Board>
@{
    ViewBag.Title = "Pockets's Boards";
}
<div ng-controller="BoardsCtrl as boardsCtrl">
    <div class="wrap narrow">
        <div class="gencon">
            <h1>Hello, Pockets</h1>
            <div id="list-pane">
                <h2>My Boards</h2>
                <button ng-click="boardsCtrl.newBoardClicked()"><i class="fa fa-plus"></i> New Board</button>
                <boards-list></boards-list>
            </div>
        </div>
    </div>

    <div id="modal" boards-modal modal-title="boardsCtrl.modalTitle" ng-class="boardsCtrl.modalActive ? 'active' : ''" modal-active="boardsCtrl.modalActive"></div>
</div>