@{
    ViewBag.Title = "Home";
}
<div class="wrap narrow">
    <div class="gencon">
        <h1>Welcome Aboard</h1>
        <p>Boards is a simple kanban app designed to keep you focused on the task at hand. Log in below or <a href="#">sign up for free</a> to start building your Boards.</p>

        <form action="/boards" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button>Log In</button>
        </form>
    </div>
</div>
