#list-pane {
    background-color: $color-outer-space;
    padding: 18px 310px 48px 16px;
    position: relative;

    h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0 0 22px;
    }

    button {
        @include position(absolute, 18px 16px null null);
        display: inline-block;
        font-size: 28px;
        line-height: 1;
        padding: 16px 8px 12px 8px;
        width: auto;
        z-index: 10;
    }

    ul {
        @include list-reset;
    }

    li {
        font-size: 32px;
        font-weight: 300;

        &.category {
            padding-left: 18px;
            position: relative;
        }

        &.category:before {
            @include position(absolute, 15px null null 0px);
            @include size(10px 24px);
            content: "";
            display: block;
        }

        &.category.category-1:before { background-color: $color-category-1; }
        &.category.category-2:before { background-color: $color-category-2; }
        &.category.category-3:before { background-color: $color-category-3; }
        &.category.category-4:before { background-color: $color-category-4; }
        &.category.category-5:before { background-color: $color-category-5; }
        &.category.category-6:before { background-color: $color-category-6; }
        &.category.category-7:before { background-color: $color-category-7; }
        &.category.category-8:before { background-color: $color-category-8; }
    }

    a {
        color: $color-alto;
        margin-right: 16px;
        text-decoration: underline;
    }

    li:hover a {
        color: $color-seagull;
    }

    .controls {
        @include position(relative, 2px null null null);
        display: none;

        i {
            color: $color-rolling-stone;
            cursor: pointer;
        }

        i:hover {
            color: $color-flamingo;
        }
    }

    li:hover .controls {
        display: inline-block;
    }

    .message {
        color: $color-rolling-stone;
        margin-bottom: 0;
    }
}

#category-color-picker {
    @include clearfix;
    background-color: $color-alto;
    padding: 6px 6px 0 6px;
    margin-bottom: 32px;
    width: 310px;

    .color {
        @include size(70px);
        cursor: pointer;
        float: left;
        margin: 0 6px 6px 0;
        position: relative;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-child(4n + 1) {
            clear: left;
        }

        &.color-1 { background-color: $color-category-1; }
        &.color-2 { background-color: $color-category-2; }
        &.color-3 { background-color: $color-category-3; }
        &.color-4 { background-color: $color-category-4; }
        &.color-5 { background-color: $color-category-5; }
        &.color-6 { background-color: $color-category-6; }
        &.color-7 { background-color: $color-category-7; }
        &.color-8 { background-color: $color-category-8; }

        i {
            @include position(absolute, 50% null null 50%);
            color: $color-shark;
            display: none;
            margin: 0 0 0 0;
            font-size: 30px;
        }

        &.selected i,
        &:hover i {
            display: inline-block;
        }
    }
}

#categories-list-page {
    position: relative;

    .back {
        @include position(absolute, 0px 0px null null);
        color: $color-alto;
        text-decoration: underline;

        &:hover {
            color: $color-seagull;
        }
    }
}